[2017-02-10 07:12] eliteproxy7 opened #1 "angular 2 set class"
how would i implement this in angular 2? and change the class of a div when enters viewport and leaves? thank you!!

[2017-02-10 11:41] k3nsei commented on #1
There is new optimized version and the demo covers that subject.
https://embed.plnkr.co/ncODgBpLhP04Ak1VdUZY/

[2017-02-10 11:41] #1 closed

[2017-02-23 14:53] jhertz123 opened #3 "Not working in div with overflow auto"
When I try to add this to an element inside a div with overflow: auto it does not trigger the inViewport event when it comes into view. It does trigger on init.

Can this be implemented or am I doing something wrong?

[2017-03-07 15:22] laheadle opened #4 "What's the license"
Looking to use this in a commercial product. Can you clarify the license?

Thanks!

[2017-03-07 15:53] k3nsei commented on #4
MIT License

[2017-03-07 15:53] #4 closed

[2017-03-21 13:39] japalo opened #6 "Change "partial" and "direction" to Input() instead of private"
Hello!
Just found this directive and my, it does the work elegantly!
One thing i found as an issue was the I needed to have some unique cases where i needed only a part of the element visible in order to trigger event. This was an easy fix just to change the mentioned variables to Input() instead of private:

`    @Input() partial: boolean = false;`

`    @Input() direction: string = 'both';`

Thi

[2017-03-21 16:35] k3nsei commented on #6
Yes there where plans to do that. You can feel free to send merge request with this feature.

[2017-03-21 16:37] k3nsei commented on #6
But maybe input will be object and named `inViewportConfig` or `inViewportOptions`

[2017-03-25 12:43] k3nsei commented on #6
There is support for that in v1.1.0

[2017-03-25 12:43] #6 closed

[2017-03-25 12:54] japalo commented on #6
Nicely done! I will have a look at it on monday.
Thanks mate!

[2017-03-25 16:01] k3nsei opened #12 "Add platform-server support"
Check if platform is server. Then do not access dom.

[2017-03-25 20:40] k3nsei commented on #3
ToDo: Add possibly to select other root element to watch.

[2017-03-26 08:49] linosteenkamp commented on #3
@k3nsei this will be a valuable feature, struggling with the same issue

[2017-03-28 13:34] teterovic opened #14 "Configurable debouncer"
It should be possible to configure the debouncer - when scrolling stops

[2017-03-28 14:28] k3nsei commented on #14
You can do it like this: https://embed.plnkr.co/SOGY1CGJ4e6eTIUAHKgM/ but there is bug that init event is fired before to early and that need to be fixed.

[2017-03-28 18:19] k3nsei commented on #14
Ok on v1.1.3 you can debounce like that:
https://embed.plnkr.co/plpOnOSqqgdszqLW1Rzk/

[2017-03-28 18:19] #14 closed

[2017-03-29 19:06] teterovic commented on #14
Tnx, it works well.

I see you did a good job with the strategy pattern / detecting if IntersectionObserver is available
did you think about this, it could simplify your code:

https://github.com/linkedin/spaniel

[2017-03-30 19:56] k3nsei commented on #3
Resolved in v.1.2.0-rc.3

[2017-03-30 20:05] k3nsei commented on #3
You can test this release.

`npm install --save ng-in-viewport@1.2.0-rc.3`

[2017-03-31 04:30] linosteenkamp commented on #3
Cool, will be testing over the weekend, thx for the effort.

[2017-04-01 05:15] numerized opened #21 "Cannot find module './in-viewport-events.service'."
Hi and thanks for this!

On Ionic2 I have this weird dependency error.

Cannot find module './in-viewport-events.service'.

Trying to fix this but I can't.

Any help welcome !

[2017-04-01 08:56] k3nsei commented on #21
Any plunker?

[2017-04-01 09:04] numerized commented on #21
I don't know how to do plunkers out of Ionic2/webpack bro...

[2017-04-01 09:14] numerized commented on #21
when I put :

```import { InViewportModule } from 'ng-in-viewport';```

in my app.module.ts, I cannot CMD+CLICK On the InViewportModule to access the file in the node_modules directory.

Are you compatible with Webpack ?

[2017-04-01 09:20] numerized commented on #21
Now I have Cannot find module '.'
Simply install a ionic2 cli blank project and add your module to it.

You'll have this error.

[2017-04-01 10:14] linosteenkamp commented on #21
@k3nsei

It' seems to be a WebPack issue.

I'm running "@angular/cli": "1.0.0"

This is the error in the chrome developmenr tools console:
<img width="821" alt="screen shot 2017-04-01 at 12 12 23 pm" src="https://cloud.githubusercontent.com/assets/4083528/24577783/9caf99be-16d4-11e7-901b-6ca978df076b.png">

[2017-04-01 13:10] numerized commented on #21
Thanks @linosteenkamp

[2017-04-01 13:30] k3nsei commented on #21
@numerized can you try for now
```import { InViewportModule } from 'ng-in-viewport/src/in-viewport.module';```

[2017-04-01 16:36] k3nsei commented on #21
Yeah, it must be webpack issue.
Here is plunker demo: http://embed.plnkr.co/SL66r66D2n2CUQCub8gk/

[2017-04-01 16:36] #21 closed

[2017-04-02 09:30] linosteenkamp commented on #21
@k3nsei Did some digging and got it working by doing the following:
- Pulled your src into my project and imported it into the app.module.ts in the following way
[code]
- found an error in your documentation for the template.
the line:
```(inViewportAction)="action($event)```
should read:
```(inViewport)="action($event)```
- My template now looks like this:
[code]

And now it works exactly like I

[2017-04-10 09:03] k3nsei commented on #21
v1.2.0 is now compatible with AOT and Angular CLI.

[2017-04-10 19:21] linosteenkamp commented on #3
Tested, works really well, thank you @k3nsei

[2017-04-11 10:00] #3 closed

[2017-04-13 03:47] numerized commented on #21
Excellent, I'll try it soon !

[2017-04-28 04:59] gnanavelshenll opened #23 "Cannot find name 'IntersectionObserverEntry'.)"
Hi, I'm getting this error after install this package.

ERROR in D:/xampp/htdocs/angular2/node_modules/ng-in-viewport/in-viewport/in-viewport.service.d.ts (5,15): Cannot find name 'IntersectionObserver'.)
D:/xampp/htdocs/angular2/node_modules/ng-in-viewport/in-viewport/in-viewport.service.d.ts (9,28): Cannot find name 'IntersectionObserverEntry'.)
D:/xampp/htdocs/angular2/node_modules/ng-in-viewpo

[2017-04-28 08:13] linosteenkamp commented on #23
@gnanavelshenll have you imported the intersection-observer pollyfill?

First add it to your project:

[code]

Then import it into the polyfill.ts in the src folder by adding the following line to the
/** Evergreen browsers require these. **/ section

[code]

That's what worked for me.

[2017-04-28 08:23] gnanavelshenll commented on #23
@linosteenkamp , Now Im getting these error.

npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@             1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"}             )
npm WARN ng-in-viewport@1.2.0 requires a peer of @angular/core@~4.0.0 but none w             as installed.
npm WARN ng-in-viewport@1.2.0 requires a peer of intersecti

[2017-04-28 08:28] linosteenkamp commented on #23
@gnanavelshenll

What version of Angular are you running, is your project properly setup?

Don't think this is related to this component.

[2017-04-28 08:29] gnanavelshenll commented on #23
@linosteenkampIm using angular 2. project setup properly and it was working fine.

[2017-04-28 08:37] linosteenkamp commented on #23
What happens if you remove ``"intersection-observer": "^0.2.1",`` from your package.json and run

[code]

[2017-04-28 08:45] gnanavelshenll commented on #23
I remove "intersection-observer": "^0.2.1", and i run the command

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm WARN ng-in-viewport@1.2.0 requires a peer of @angular/co

[2017-04-28 08:57] linosteenkamp commented on #23
@gnanavelshenll you will have to look into your NPM setup, not sure I can be of any more help, sorry

[2017-04-28 09:44] k3nsei commented on #23
This isn't issue with this component. You need to fix your setup. Closing.

[2017-04-28 09:44] #23 closed

[2017-04-28 11:03] thaihuyhung commented on #23
@gnanavelshenll Did you resolve the issue? I got the same error messages like you.

[2017-04-28 11:09] gnanavelshenll commented on #23
@thaihuyhung , I resolve this issue somehow.

[2017-05-04 01:52] yangwen2 opened #24 "using the in-viewport directive on a component"
Thanks for this module!  I'm using the in-viewport directive on a component and am able to successfully apply attributes to the component host element.

I'm wondering if there is a way to use the InViewportAction method to set an @Input value on the component?

The idea is to set a flag value in the component class that tells it whether the component is in view.

[2017-05-05 15:22] jhertz123 opened #25 "Hangs in IE11 and Edge"
I have tested the new version of ng-in-view and it works fine in Chrome but it hangs in IE.

The plunker example works fine in IE but if you scroll you probably notice that it is a bit slow.
https://embed.plnkr.co/jJe2MTPKQ1avFxKhgBRb/

In my app which is a lot more complex then the example IE instead it hangs.

I for example have a the following tag:
 <ng-template ngFor [ngForOf]="getTabsOrdered(

[2017-05-06 07:10] gnanavelshenll opened #26 "Cannot find name 'IntersectionObserverEntry'."
Hi, Im getting this error.

 `D:/xampp/htdocs/angular2/node_modules/ng-in-viewport/in-viewport/in-viewport.service.ts (6,13): Cannot find name 'IntersectionObserver'.
D:/xampp/htdocs/angular2/node_modules/ng-in-viewport/in-viewport/in-viewport.service.ts (12,33): Cannot find name 'IntersectionObserverEntry'.
 D:/xampp/htdocs/angular2/node_modules/ng-in-viewport/in-viewport/in-viewport.service.ts (

[2017-05-06 12:30] jhertz123 commented on #26
Hi,

Did you install using this command: npm install --save ng-in-viewport **intersection-observer**

Did you add this line to your app module?
import 'intersection-observer';

Did you also add this to your polyfill.ts?
import 'intersection-observer/intersection-observer.js'

[2017-05-06 12:52] gnanavelshenll commented on #26
Yes. I installed the **intersection-observer.**
and imported import 'intersection-observer'; in app module.ts.

added polyfill.ts
import 'intersection-observer/intersection-observer.js'

it is happended only when i take build using **ng -build --prod**

[2017-05-12 12:15] k3nsei commented on #26
@gnanavelshenll this is wrong ```import 'intersection-observer/intersection-observer.js'``` instead use ```import 'intersection-observer';```

[2017-05-12 12:18] k3nsei commented on #24
Just use it in parent component that wraps the one which you want to change its input.

[2017-05-12 12:25] gnanavelshenll commented on #26
@k3nsei , i have tried with above

but im getting error  while build using `ng -build --prod`

[2017-05-12 13:48] yangwen2 commented on #24
thanks. I actually ended up removing from my project. I didn't realize the directive was dependent on an experimental feature... I just rolled my own using the traditional getBoundingClientRect

[2017-05-24 10:09] rolandoldengarm opened #27 "How to test this in a spec?"
Great library, we're using it and are very happy with it!

However I'm running into some issues I want to verify locally. If multiple `inViewportAction`  are fired at the same time (which happens if the list is displayed initially /refreshed), the bindings are not updated properly. I have to run the code explicitly inside an ngZone.run() to make it work...

To test this properly, I want to add thi

[2017-05-24 21:26] k3nsei commented on #27
You cannot write unit tests that covers this case, only E2E tests.
But like you said there could be unit tested callback that inViewportAction runs, by mocking of result and then manualy runs component callback.

[2017-06-02 10:31] #27 closed

[2017-06-09 11:22] intergleam commented on #25
hm, works fine in my IE 11. can't see the code but I guess it's plunker issue

[2017-07-14 10:43] CSchulz opened #28 "inViewportAction should return an array"
Instead of firing an event for each element every time, it would be nice to get an array of all elements.

[2017-07-14 10:49] CSchulz commented on #28
Understood the implementation wrong. 😆

[2017-07-14 10:49] #28 closed

[2017-07-18 08:26] CSchulz opened #29 "Change peerDependency for Angular"
It would be nice if the peer dependency for Angular will be changed.

4.3.0 was released the last days.

[2017-07-18 14:07] CSchulz opened #30 "InViewportDirective.ngOnDestroy does not pass rootElement"
https://github.com/k3nsei/ng-in-viewport/blob/master/src/in-viewport/in-viewport.directive.ts#L41

[code]

should be

[code]

[2017-08-09 13:41] #24 closed

[2017-08-09 13:42] #25 closed

[2017-08-09 13:43] #26 closed

[2017-08-24 15:31] slavafomin opened #31 "Check programmatically whether element is in view?"
Hello!

Thank you for this great library!

However, is it possible to programmatically query if specified element is in view right now? I need to do this from controller.

Thanks!

[2017-08-24 15:35] slavafomin commented on #31
False alarm, I see I can use `$event.value` to determine if element is actually visible or not.

[2017-08-24 15:35] #31 closed

[2017-10-05 14:01] Juchar opened #32 "Add intersectionRatio to Event"
It would be nice to have the `intersectionRatio` as attribute of the event.

This helps to debounce if the directive is used together with scrolling because you then can determine which target has the biggest intersection.

[2018-01-17 16:36] magnayn opened #34 "Failure in Safari"
This is an odd one - we're using this directive inside angular material tabs, where there is a tab using this which isn't initially shown.

It all works completely fine on chrome, but on Safari (Mac and iPad) it locks the browser solid (which feels like a loop in the layout engine as it does not appear to be a javascript issue).

I'm assuming modern safari doesn't need the polyfill to work correct

[2018-01-17 17:07] k3nsei commented on #34
@magnayn can you provide example code?

[2018-01-17 19:35] k3nsei commented on #34
Please see this example https://stackblitz.com/edit/angular-5-with-ng-in-viewport?embed=1&file=app/app.component.ts

[2018-01-17 19:58] magnayn commented on #34
Diagnosing a bit further, it seems it's a lower-level interaction.

We've some kendo components that appear, on safari, to trigger repeated MutationObserver events practically constantly.

Because InterSection is polyfilled for Safari and uses MutationObserver, that's the underlying cause. That polyfill looks like I can turn off the use of MutationObserver (though it'd be interesting to know what

[2018-01-17 19:58] #34 closed

[2018-01-19 08:54] bdekok commented on #32
I've got the same issue, as it was a very small change I have added it to my project. Maybe @k3nsei also wants to merge it to the main branch, I've raised a PR.

[2018-02-10 08:24] abadakhshan opened #36 "Problem with IE11"
Hello
when i use ng-in-viewport with IE 11
i get this exception
"ERROR ReferenceError: 'IntersectionObserver' is undefined"

[2018-02-10 10:55] k3nsei commented on #36
You need to install intersection observer polyfill.

[2018-02-10 10:55] #36 closed

[2018-05-08 14:47] plindsay opened #37 "Documentation for inViewportOptions"
Is it possible to have some documentation on the inViewportOptions object? I'm not too sure what options are available and how they affect behaviour.

Cheers

[2018-05-11 20:44] k3nsei commented on #32
It will be done in v6.0.0, by adding possibility to set custom function that will be executed to calculate results.

[2018-05-12 15:35] #32 closed

[2018-05-12 15:36] #30 closed

[2018-05-12 15:36] #29 closed

[2018-05-15 06:27] m41n opened #38 "Error after installing plugin"
I tried installing the plugin on a project I am working on and got the following errors when trying to build the project:

[code]

I checked the file inside node_modules which looks like this:
[code]

It seems there is a problem with the line:
`export declare const InViewportMetadata: unique symbol;`
especially the `unique symbol` part, it can't seem to handle it (as stated by the error messages p

[2018-05-15 06:31] k3nsei commented on #38
You need to update your typescript version.

wt., 15 maj 2018, 08:27 użytkownik m41n <notifications@github.com> napisał:

[2018-05-15 06:32] k3nsei commented on #38
Hi, it look like you have older version of typescript. When you update it, then it should working.

[2018-05-15 06:37] m41n commented on #38
thanks, will try that.

I also, just to be sure, tried to install the plugin again, adding @latest, now the error message does look like this:

[code]
I had that earlier, though it disappeared after adding everything required to my module.ts files.
Would this also be fixed by updating the typescript version?

[2018-05-15 09:27] m41n commented on #38
sadly have to correct again, the second part of the error persits.
[code]

[2018-05-15 09:49] #38 closed

[2018-05-18 10:14] Juchar commented on #32
Thank you very much. I am not sure on how to access the `InViewPortMetadata` on an event object.
Could you please provide an example?

[2018-05-18 10:46] k3nsei commented on #32
@Juchar
In this example please look at line 32:
https://stackblitz.com/edit/ng-in-viewport-example?embed=1&file=app/app.component.ts

[2018-05-18 20:17] k3nsei commented on #37
Here they are:
https://k3nsei.github.io/ng-in-viewport/classes/_in_viewport_config_class_.inviewportconfig.html

[2018-05-18 20:17] #37 closed

[2018-05-22 08:48] jwillebrands opened #39 "Freeze with IntersectionObserver polyfill in combination with ng-bootstrap NgbPopover"
We've found an issue when ng-bootstrap's NgbPopover is used in combination with ng-in-viewport as well as the IntersectionObserver polyfill. When the popover is opened, browsers that use the polyfill will freeze. After a lot of debugging and cursing at unresponsive browsers, I found that Angular gets stuck in an infinite change detection cycle. I've put together the following minimal reproduction:

[2018-05-22 20:30] etiennetalbot opened #41 "RxJS 6 compatibility"
It would be really nice if this plugin was updated to be compatible with RxJS 6 (so it could be used with Angular 6 without the `rxjs-compat` package).
As far as I can see the only thing in the way of upgrading is the import of `BehaviorSubject` that need to be changed, but I might miss some details.

Thing is, though, upgrading to RxJS 6 would be a major change and might only be compatible with A

[2018-05-22 21:11] k3nsei commented on #41
I'm working on it already. There will be new version.

[2018-05-23 19:11] k3nsei commented on #39
Fixed

[2018-05-23 19:11] #39 closed

[2018-05-24 15:17] Oleg-Sulzhenko commented on #12
Hi @k3nsei, please can you tell me when new version with this improvement will be in production ?

[2018-05-25 16:11] k3nsei commented on #12
@Oleg-Sulzhenko it's done.

[2018-05-25 16:11] #12 closed

[2018-05-26 16:58] Oleg-Sulzhenko commented on #12
@k3nsei thank you for quick response, but im still cant get server side rendering (Universal) works with you plugin, a get (An unhandled exception occurred while processing the request.).

[2018-05-26 21:52] k3nsei commented on #12
@Oleg-Sulzhenko can you give me some repo working repo with working universal app. I can't find any working starter with Angular 5 and Angular Universal.

[2018-05-28 23:08] k3nsei commented on #41
@etiennetalbot you can test https://www.npmjs.com/package/ng-in-viewport/v/6.0.0-rc.1

[2018-05-29 11:38] anwar-elmawardy opened #42 "Yarn compilation error on production profile"
`yarn run webpack:prod`
 ERROR in node_modules/ng-in-viewport/in-viewport/in-viewport.directive.d.ts(3,49): error TS1005: '=' expected.

[2018-05-31 08:30] k3nsei commented on #42
@anwar-elmawardy I can not help you. You have not provided enough information.

[2018-06-06 22:11] mohamedmansour commented on #41
@k3nsei  this works really great in  6+.

[2018-06-07 14:12] OzoTek commented on #42
Hi @k3nsei,

I ran into the same issue, here's the line causing the error:
`export declare const InViewportMetadata: unique symbol;`

The error comes from TypeScript compilation.

Angular : `5.2.9`
ng-in-viewport: `^1.2.7-hotfix.1 `
intersection-observer: `^0.5.0`

Let me know if you need further informations.

[2018-06-07 15:15] k3nsei commented on #42
@anwar-elmawardy @OzoTek Can you try with typescript >= 2.8 ??

[2018-06-07 16:22] OzoTek commented on #42
It compiles indeed, but I get warnings from Angular 5 because it supports only TS < 2.7.
So your lib needs Angular >= 6 to be used safely apparently.

If you could either update the peer dependencies (or support TS < 2.8) that would be nice, to avoid future confusions :)

Thanks.

[2018-06-07 20:26] simeyla opened #43 "Improve 'quick start' in documentation"
Your examples are great, but would be a huge help to include a simple 'Get Started' on the main page.

eg.

Import the directive
     import { InViewportDirective } from 'ng-in-viewport';

Explain the different `inViewportOptions` and requirement for intersection polyfill.

Is any helper for lazy images included in the package? And if not have you considered a 'child' package that does include thi

[2018-06-07 21:30] simeyla commented on #37
This isn't documentation. This doesn't have any explanation at all ;-)

[2018-06-08 08:27] #42 closed

[2018-06-08 08:38] k3nsei commented on #42
v1.2.8 is build with typescript 2.6.2. So it should be works right now.

[2018-06-08 09:10] k3nsei opened #44 "Feature: compodoc"
Add support for https://compodoc.app/ or https://www.docz.site/

[2018-06-22 15:08] k3nsei commented on #43
@simeyla I think this is a good start https://k3nsei.gitbook.io/ng-in-viewport/

[2018-06-22 15:08] #43 closed

[2018-06-22 19:28] simeyla commented on #43
@k3nsei awesome - looks very nice. I hope this helps get you more users :-)

[2018-06-28 14:44] #41 closed

[2018-06-30 11:08] k3nsei opened #52 "Test ticket from Code Climate"

[2018-06-30 11:08] #52 closed

[2018-06-30 11:12] k3nsei opened #53 "Fix "similar-code" issue in projects/ng-in-viewport/src/lib/in-viewport.directive.ts"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/k3nsei/ng-in-viewport/projects/ng-in-viewport/src/lib/in-viewport.directive.ts#issue_5b368621acafef000100004f

[2018-07-17 18:35] #53 closed

[2018-07-19 10:05] shajeeck opened #56 "Support for ionic 3?"
I tried to install ng-in-viewport v6.0.2 in ionic 3 which currently uses @angular/common:"5.2.11" and rxjs:"5.5.11", but when importing InViewportModule it gives an error "Error: Uncaught (in promise): TypeError: Object(...) is not a function
TypeError: Object(...) is not a function
    at ng-in-viewport.js:273"

anyone got this working with latest ionic

[2018-07-19 10:11] shajeeck commented on #56
Getting this error just after importing module in page

![ionic3 error](https://user-images.githubusercontent.com/23249536/42936587-2290db42-8b55-11e8-9b75-768b31bb5108.png)

[2018-07-19 10:16] shajeeck commented on #56
Updating typescript stopped showing above errors! but now it shows

Uncaught TypeError: Object(...) is not a function
    at ng-in-viewport.js:273
    at Object.<anonymous> (ng-in-viewport.js:275)
    at __webpack_require__ (bootstrap edbeefc9a72b1f83bd81:54)
    at Object.345 (main.ts:7)
    at __webpack_require__ (bootstrap edbeefc9a72b1f83bd81:54)
    at Object.340 (main.js:51)
    at __webpack

[2018-07-19 12:37] k3nsei commented on #56
Please try `ng-in-viewport@legacy`. Current version only supports Angular 6+.

[2018-07-19 13:31] #56 closed

[2018-07-30 14:52] vreans08 opened #61 "Center of viewport"
Hi,

How to call a function when a div comes only at center of the viewport ? . Currently the function is called so soon as it is visible at the viewport..

[2018-07-30 15:38] k3nsei commented on #61
Can you explain it better. Maybe some drawing?

[2018-07-30 17:07] k3nsei commented on #61
Here is some [demo](https://stackblitz.com/edit/ng-in-viewport-example-issue-61?embed=1&file=src/app/page-issue/page-issue.component.ts). But I don't exactly sure that this is what you wanted.

[2018-07-31 04:34] vreans08 commented on #61
Hi,

Yes this is what I want. Thanks a lot. It works for me.

[2018-07-31 04:34] #61 closed

[2018-08-19 06:11] iki789 opened #69 "inViewportOptions available options"
What are the options available `inViewportOptions`? threshold and?

p.s. This is the best inviewport repo I ever came to. Simple, straight forward and works like a charm. Keep up the good work . Thanks a bunch👍

[2018-08-19 12:51] k3nsei commented on #69
[code]

[2018-08-20 09:35] #69 closed

[2018-09-14 18:26] greenkeeper[bot] opened #74 "An in-range update of @angular-devkit/build-angular is breaking the build 🚨"
## The devDependency [@angular-devkit/build-angular](https://github.com/angular/angular-cli) was updated from `0.8.1` to `0.8.2`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-angular-0.8.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2018-09-14 21:29] #74 closed

[2018-09-20 02:02] greenkeeper[bot] opened #77 "An in-range update of @angular-devkit/build-ng-packagr is breaking the build 🚨"
## The devDependency [@angular-devkit/build-ng-packagr](https://github.com/angular/angular-cli) was updated from `0.8.2` to `0.8.3`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-ng-packagr-0.8.3).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-27 15:06] greenkeeper[bot] opened #81 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.11.0` to `10.11.1`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40types%2Fnode-10.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2018-09-28 07:45] #77 closed

[2018-09-28 07:45] #81 closed

[2018-10-22 20:14] greenkeeper[bot] opened #97 "An in-range update of intersection-observer is breaking the build 🚨"
## The dependency [intersection-observer](https://github.com/w3c/IntersectionObserver) was updated from `0.5.0` to `0.5.1`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Fdefault%2Fintersection-observer-0.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

interse

[2018-10-26 05:44] #97 closed

[2018-10-31 12:29] pritamcb opened #99 "Doc for all options"
There is no document for other [inViewportOptions] params.

[2018-10-31 13:28] k3nsei commented on #99
Please look at this issue #69

[2018-10-31 13:28] #99 closed

[2018-11-02 10:42] skator68 opened #100 "rootMargin for second Element"
It seems to be that the rootMargin in the [inViewportOptions] for a second Element don't overwrite the rootMargin from the first Element. So you can't use two different rootMargins for two Elements. Both use the first rootMargin. Is there a solution?

Kind regards

[2018-11-05 12:09] k3nsei commented on #100
@skator68 please provide example on stackblitz.

[2018-11-05 15:42] jwillebrands opened #101 "IntersectionRatio is (incorrectly?) assumed to be capped to 1.0"
The code for determining whether an element is completely visible assumes that intersectionRatio is capped at 1.0. At least on Chrome 70 this is not the case. It seems that, as opposed to Firefox, for the purpose of calculating the intersectionRect, the position values of (at least) the boundingClientRect are ceiled and floored. As a result, the calculated intersectionRect may have a dimension tha

[2018-11-05 16:17] k3nsei commented on #101
@jwillebrands can you prepere a pull request?

[2018-11-05 18:10] #101 closed

[2018-11-05 23:07] greenkeeper[bot] opened #103 "An in-range update of @types/jasmine is breaking the build 🚨"
## The devDependency [@types/jasmine](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `2.8.9` to `2.8.10`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40types%2Fjasmine-2.8.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jasmine

[2018-11-06 12:57] skator68 commented on #100
https://stackblitz.com/edit/angular-5b2dla?file=src%2Fapp%2Fscroll-element%2Fscroll-page.component.html

I am confused: Now it seems that the rootMargin is ignored by both elements. On my desktop-project I use in-viewport-version 6.0.2. In stackblitz it is the version 6.0.3.

In the folder scroll-element you can see the section_2.component. There is the value of rootMargin 0px 0px -70% 0px. But th

[2018-11-06 18:34] k3nsei commented on #100
Does [this](https://stackblitz.com/edit/ng-in-viewport-issue-100?embed=1&file=src/app/scroll-page/scroll-page.component.html) solves your problem?

[2018-11-06 18:44] #103 closed

[2018-11-08 22:38] greenkeeper[bot] opened #107 "An in-range update of @angular-devkit/build-angular is breaking the build 🚨"
## The devDependency [@angular-devkit/build-angular](https://github.com/angular/angular-cli) was updated from `0.10.4` to `0.10.5`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-angular-0.10.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2018-11-08 22:39] greenkeeper[bot] opened #108 "An in-range update of @angular-devkit/build-ng-packagr is breaking the build 🚨"
## The devDependency [@angular-devkit/build-ng-packagr](https://github.com/angular/angular-cli) was updated from `0.10.4` to `0.10.5`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-ng-packagr-0.10.5).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2018-11-09 08:17] #107 closed

[2018-11-09 08:17] #108 closed

[2018-11-12 12:02] skator68 commented on #100
Yes, thats work fine.
But I think to return the target is more suitable to get the actual position, etc. from target.
Thanx for helping and your stay.

[2018-11-12 13:46] k3nsei commented on #100
skator68 no problem. It's standard IntersectionObserver behaviour.

[2018-11-12 13:46] #100 closed

[2018-11-26 19:30] greenkeeper[bot] opened #116 "An in-range update of @angular-devkit/build-angular is breaking the build 🚨"
## The devDependency [@angular-devkit/build-angular](https://github.com/angular/angular-cli) was updated from `0.10.6` to `0.10.7`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-angular-0.10.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2018-11-26 19:31] greenkeeper[bot] opened #117 "An in-range update of @angular-devkit/build-ng-packagr is breaking the build 🚨"
## The devDependency [@angular-devkit/build-ng-packagr](https://github.com/angular/angular-cli) was updated from `0.10.6` to `0.10.7`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-ng-packagr-0.10.7).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2018-11-27 18:14] #116 closed

[2018-11-27 18:14] #117 closed

[2018-12-01 17:29] greenkeeper[bot] opened #122 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might

[2018-12-01 20:49] #122 closed

[2018-12-13 03:28] wustdong opened #125 "npm start Error: error TS1005: '=' expected"
I follow this  [import-the-modules doc](https://k3nsei.gitbook.io/ng-in-viewport/getting-started/import-the-modules)  import  ng-in-viewpor.
But, In my project( angular 5), when  run `npm start` , an error throw:
[code]

Could you please help me figure out why?

[2018-12-13 08:09] k3nsei commented on #125
To resolve your issue. You should update your `typescript` to version `2.7.2`.

[2018-12-14 06:39] wustdong commented on #125
My solution:
[code]
update  version, error fixed.

Thanks!

[2018-12-14 08:47] #125 closed

[2019-01-05 22:58] agostinocinelli opened #132 "Error at first use"
Hi,
i want to submit an error:

Warning 1:
[code]
Warning 2:
[code]
Error:

[code]

Am I doing something wrong?

Thank you for your support

[2019-01-05 23:15] agostinocinelli commented on #132
After a little investigating, it could be an issue with "Angular material sidenav".
`Observable.fromEvent(window, 'scroll')`
doesn't work as well :(

[2019-01-07 17:54] k3nsei commented on #132
@agostinocinelli can you provide example on StackBlitz?

[2019-01-10 12:08] agostinocinelli commented on #132
Maybe it's a version issue. i'm using angular 5!
I need to install the old version. (1.2.7 ?)

[2019-01-15 07:13] greenkeeper[bot] opened #139 "An in-range update of ng-packagr is breaking the build 🚨"
## The devDependency [ng-packagr](https://github.com/ng-packagr/ng-packagr) was updated from `4.5.0` to `4.6.0`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Fng-packagr-4.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-packagr is a devDependency of this p

[2019-01-17 17:49] k3nsei commented on #132
You can try `npm install --save ng-in-viewport@legacy`

[2019-01-18 13:03] Silvest89 opened #140 "[BUG]"
I am using the latest Chrome and I see that { threshold: 0, rootMargin: '-500px' } does not seem to be working. It seems that it gets override by the browser? to 0 again.

[2019-01-18 16:52] k3nsei commented on #140
@Silvest89 everything is ok, here is a proof: https://ng-in-viewport-issue-140.stackblitz.io/

You can play with it here: https://stackblitz.com/edit/ng-in-viewport-issue-140?file=src%2Fapp%2Fapp.component.ts

[2019-01-18 16:52] #140 closed

[2019-01-23 18:02] #132 closed

[2019-01-23 21:27] andmaltes opened #141 "-trigger when it is partially out of the screen"
Hey,

Nice tool!

I have a question, how can I trigger the event and make the class inactive when the element is partially out of viewpoint? Lets say 25%. I have tried changing threshold: to [0.25] and [0.75] with no luck, still getting it triggered only when the element is fully out of the screen.

Thanks.

[2019-01-28 17:37] FelixEhuan commented on #141
Apparently it only works for threshold: [0]

[2019-01-28 20:59] k3nsei commented on #141
Example: https://ng-in-viewport-issue-141.stackblitz.io
Code: https://stackblitz.com/edit/ng-in-viewport-issue-141?embed=1&file=src/app/app.component.ts

[2019-01-28 21:04] k3nsei commented on #141
@andmaltes, please tell me if you are satisfied with the answer. Can I close this issue?

[2019-02-02 18:31] andmaltes commented on #141
Hi,
I am sorry. I have just realized you answered my request.

I am trying to replicate it in my project but I am not sure what is the threshold for. I understand that you are assigning it values form 1/100 to 50/100.  In my case I have only one element and the OnIntersection event only seems to be triggered when the div is completely out of the screen. I pressume it is related to the Threshold [0

[2019-02-03 20:12] k3nsei commented on #141
@andmaltes Threshold is kinda information when to emit event. It's percentage value of how much element is visible. To achieve what you want. You need to write custom event handler with a predicate what will happen on visibility change.

[2019-02-15 07:17] pbravichandhar opened #146 "Mat Table"
HI,
Ng in view port module is working accurately in case of div..
But i need to replicate this.. in mat table ...
For example
working code :
My html:-
[code]

i need to trigger first element when it goes under sticky header itself
As of now its triggering when element goes completely out of window

[2019-02-15 09:10] k3nsei commented on #146
Please use https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/root

[code]

[2019-02-15 09:11] #139 closed

[2019-02-15 10:44] pbravichandhar commented on #146
Ok thanks for the update I'll implement and tell u

[2019-02-15 10:48] pbravichandhar commented on #146
![image](https://user-images.githubusercontent.com/39514623/52851805-0c431600-313d-11e9-9afc-b20806b052bb.png)

I added #root

In image only 4 rows are visible but it gives all the 10 elements are visible. In intersection observer function!

Can u send stackblitz working demo for mat table and tell me !

[2019-02-15 10:56] pbravichandhar commented on #146
I have tried all the options! given in viewport options but not working when comes to mat table especially with sticky headers!

[2019-02-15 11:18] k3nsei commented on #146
@pbravichandhar please paste a stackblitz example, which presents this problem. I'm working on this library in my free time and recently I do not have much of it. So it will be helpful and much faster to start working on this issue.

[2019-02-15 13:00] pbravichandhar commented on #146
![image](https://user-images.githubusercontent.com/39514623/52857573-95624900-314d-11e9-83e8-eca00fec159a.png)

Row 1 is hidden in header .. but it says visbile in view port!
Just fork this below link and fork the project and work !
https://stackblitz.com/edit/angular-mrumud?file=app%2Ftable-sticky-header-example.ts

My requirement is when row 1 is hidden under the header it should say visible:fal

[2019-02-15 13:24] pbravichandhar commented on #146
https://stackblitz.com/edit/angular-mrumud?file=app%2Ftable-sticky-header-example.ts

In this i have tried some other way by calculating client height etc.....

ignore those stuff !

[2019-02-15 13:57] k3nsei commented on #146
Here you go: https://stackblitz.com/edit/angular-mrumud-g7t2je
I'm hoping that will solve your problem.

[2019-02-15 14:01] k3nsei commented on #146
@pbravichandhar If it was helpful, you can close that issue and star this project on github 😊

[2019-02-15 19:09] pbravichandhar commented on #146
rootMargin: '-56px 0px 0px', root: rootElement?.nativeElement

How u calculated -56px then why u are giving 0px 0px instead of 0px 0px 0px,
Can u explain how u given this breifly?

[2019-02-15 20:06] k3nsei commented on #146
[code]
This is selector that looks for #tableWrapper reference in template, this is part of Angular API. When we have this then we point to HTMLElement using `nativeElement` property. It's necesary to set root in `InViewportOptions`.

56px is height of `.mat-header-row` and it's negative because table headers are sticky. So we want to emit event that table row isn't visible ealier.

first 0px mean

[2019-02-17 09:54] pbravichandhar commented on #146
![image](https://user-images.githubusercontent.com/39514623/52911301-e138fd80-32c7-11e9-8f4f-6e1cdbe676fe.png)

I add partial: false
when i scroll up  row 1 hides but when i scroll down its color doesnt changed why?

https://stackblitz.com/edit/ng-in-viewport-issue-146

just add partial:false.

[2019-02-17 18:23] k3nsei commented on #146
I'm imagined that you wanted achieve something like this https://stackblitz.com/edit/ng-in-viewport-issue-146-2

So if scrolling element is window, then you don't need root in inViewportOptions and partial still needs to be set as true. Also threshold need to be [0, 1].

[2019-02-18 04:02] pbravichandhar commented on #146
![image](https://user-images.githubusercontent.com/39514623/52927215-6a4f4380-335f-11e9-8e31-69c8cd4cce63.png)
In above last elements are triggering propperly as expected ...

But row 1 is not tiggering propperrly !

![image](https://user-images.githubusercontent.com/39514623/52927247-8fdc4d00-335f-11e9-8b80-1a849bbd42d5.png)

i have made the changes partial:false.
because i need to trigger only w

[2019-02-18 12:59] pbravichandhar commented on #146
@k3nsei  I got what I wanted. I fixed that by adding partial: false and setting correct rootMargin..

Thanks for the HELP!

[2019-02-18 12:59] #146 closed

[2019-02-20 12:35] Silvest89 opened #147 "Different viewport options with same root"
As I was browsing the code (have tested it as well)
Whenever you use the same root element though with different viewport options (different elements are being checked) only the already existing options get fetched.

What you do is check if the root element exist if yes get that instance.

[code]

[2019-02-20 12:42] k3nsei commented on #147
Yes it's simple optimization that was introduced in the past. But it need to be extend to support more advanced cases. It's on my todo list, but I haven't had time to do this yet.

[2019-02-26 06:27] chaoyangnz opened #148 "cannot use in `ng-container`"
I applied the directives on `ng-container`, it runs into errors:

[2019-02-26 07:07] k3nsei commented on #148
NgContainer is only virtual element that helps to reduce redudant html elements in your template. This directive can only be aplied to real HTMLElements and CustomElements (Components). So it isn’t an issue.

[2019-02-26 07:07] #148 closed

[2019-02-26 07:08] k3nsei commented on #141
The are nocresponse, so I’m closing this issue.

[2019-02-26 07:08] #141 closed

[2019-02-26 07:43] chaoyangnz commented on #148
In my case, the ng-container as a virtual host element is used to create component dynamically. it is tricky to apply `inViewport`

[2019-02-26 09:16] k3nsei commented on #148
In this case you can add additional wrapping component with ng-in-viewport applied or wait until Ivy renderer will be ready in angular. Because there is no option to programically apply directive.

[2019-02-28 17:55] greenkeeper[bot] opened #152 "An in-range update of typedoc is breaking the build 🚨"
## The devDependency [typedoc](https://github.com/TypeStrong/TypeDoc) was updated from `0.14.0` to `0.14.1`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Ftypedoc-0.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

typedoc is a devDependency of this project. I

[2019-02-28 17:56] greenkeeper[bot] opened #153 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `2.6.1` to `2.6.2`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Fcore-js-2.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this project, and *

[2019-03-07 17:48] #153 closed

[2019-03-07 17:48] #152 closed

[2019-03-31 22:24] greenkeeper[bot] opened #163 "An in-range update of @angular-devkit/build-ng-packagr is breaking the build 🚨"
## The devDependency [@angular-devkit/build-ng-packagr](https://github.com/angular/angular-cli) was updated from `0.13.6` to `0.13.7`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2F%40angular-devkit%2Fbuild-ng-packagr-0.13.7).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2019-04-04 06:50] #163 closed

[2019-04-04 10:34] creativeprogramming opened #167 "Can't bind to 'inViewportOptions' since it isn't a known property of 'div' - after upgrading from angular 5 to 7"
[code]

I'm using it in a modular app:

[code]

Note: with version 5 I imported it with InViewportModule.forRoot() now .forRoot() disappeared

[2019-04-05 14:32] #167 closed

[2019-04-05 17:27] k3nsei commented on #167
@creativeprogramming did you manage to solve your issue by yourself?

[2019-04-15 22:13] Civetdelapin opened #171 "Trigger when the div is reaching the middle of the screen"
I having hard time understanding how the threshold param works.

I am looking for a way to trigger the event when the top of the div reaches the middle of the screen.

Thanks for the help!

[2019-04-15 22:17] k3nsei commented on #171
Is that (https://github.com/k3nsei/ng-in-viewport/issues/6) what you looking for?

[2019-04-16 19:01] Civetdelapin commented on #171
Yes it's perfect! Thanks 👍

[2019-04-16 19:21] #171 closed

[2019-04-29 07:44] SimranChawla1995 commented on #167
@creativeprogramming  I'm having the same issue.Please help to resolve.

[2019-05-27 14:28] splincode opened #176 "Add option for run outside zone"
It would be cool
if i could indicate this possibility

[code]

https://github.com/k3nsei/ng-in-viewport/blob/develop/projects/ng-in-viewport/src/lib/in-viewport.service.ts#L53

![image](https://user-images.githubusercontent.com/12021443/58426181-71939500-80a4-11e9-9de5-cac72c269732.png)

[code]

[2019-05-27 14:37] k3nsei commented on #176
Does this really changes anything for you? I need more context.

[2019-05-27 15:06] splincode commented on #176
improving performance when inViewportAction multiple triggers

[2019-05-27 20:19] k3nsei commented on #176
If you runing some expensive calculations maybe you should debounce those events? Because right now IntersectionObserver is runing outside zone but only observable that trigers events is running in zone. So it shouldn't have impact.

[2019-05-27 20:34] #176 closed

[2019-06-14 07:05] ashish-sharma91 opened #188 "inViewportAction not triggering everytime"
I have two photo galleries and when I drop a photo from source gallery to target gallery, then after that the target gallery doesn't triggers (inViewportAction) emitter.

[2019-06-17 08:21] Nitekurs opened #190 "How to add and remove class only bottom side direction not both side"

[2019-06-18 21:02] k3nsei commented on #190
You can pass to config your own checkFn
https://github.com/k3nsei/ng-in-viewport/blob/develop/projects/ng-in-viewport/src/lib/in-viewport-config.ts#L12

[2019-06-18 21:03] k3nsei commented on #188
Please provide an example

[2019-06-20 07:33] Nitekurs commented on #190
Sorry Sir, i don't understand where is to pass this and how to pass this function to in my project.
Please look my example where i am trying to implement this library. And i have face flickering issue if using animation on them at the bottom. [Demo](https://stackblitz.com/edit/angular-tuinq2)

[2019-06-21 21:17] k3nsei commented on #190
@Nitekurs Here https://stackblitz.com/edit/ng-in-viewport-issue-190 you pick up it from here.

[2019-07-15 19:01] greenkeeper[bot] opened #200 "An in-range update of commitlint is breaking the build 🚨"
## There have been updates to the *commitlint* monorepo:

 + - The `devDependency` [@commitlint/cli](https://github.com/conventional-changelog/commitlint) was updated from `8.0.0` to `8.1.0`.
- The `devDependency` [@commitlint/config-conventional](https://github.com/conventional-changelog/commitlint) was updated from `8.0.0` to `8.1.0`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-view

[2019-07-20 18:30] SeinopSys opened #202 "inViewportAction called during Angular Universal server-side rendering"
While trying to use this package as part of an Angular Universal app I noticed that the method I specified for the `inViewportAction` output was being called on the server side as well as on the client browser. I had to work around this by checking the platform with `isPlatformBrowser` inside the method to avoid unnecessary code execution.

It's not necessarily a huge issue but it'd be nice it I d

[2019-07-20 20:18] k3nsei commented on #202
@SeinopSys it's desired behaviour. Library detects server environment and fires event once with visible: true. It's that way because hiding stuff from indexing bots like google bot isn't good practise.

[2019-07-20 20:21] SeinopSys commented on #202
In that case is there a chance to make this behavior configurable? I personally don't want it to fire on the server and it was quite confusing to me at first that it did.

I'm using this to lazy load images and it firing on the server seemed like it made the request wait until the server has downloaded all of the full resolution images before sending the page down to the client.

[2019-07-21 11:14] k3nsei commented on #202
@SeinopSys

Please try this
`import { isPlatformServer } from '@angular/common';
import {
  Directive,
  ElementRef,
  HostBinding,
  Inject,
  OnDestroy,
  OnInit,
  PLATFORM_ID,
  Renderer2,
  Self,
} from '@angular/core';
import { InViewportDirective } from 'ng-in-viewport';
import { fromEvent, Subject } from 'rxjs';
import { filter, take, takeUntil } from 'rxjs/operators';

@Directive({
  sele

[2019-07-21 11:22] SeinopSys commented on #202
I appreciate your effort but I already have a working workaround in my project. Essentially I just detect if it's a browser platform and if not I return from the listener.

https://github.com/SeinopSys/MLPVectorClub/blob/9b39bbb406144dc1c6e12da59322bb41e949a26e/src/app/color-guide/components/color-guide-appearance-sprite.component.ts#L31-L34

https://github.com/SeinopSys/MLPVectorClub/blob/9b39bbb

[2019-07-21 12:00] k3nsei commented on #202
@SeinopSys you are using HttpClient to fetch image as blob. Better is to leave that to browser by setting src on image element. By doing that you reducing your code base and you will don't have problem that your reported anymore.

[2019-07-21 12:03] SeinopSys commented on #202
I use a smaller base64 encoded image as the original src value when the image is inserted into the DOM as a lower-resolution placeholder. If I were to immediately set the src attribute to an image that isn't yet cached by the browser it would cause layout jumping and flashing which I especially wanted to avoid with my approach.

[2019-07-21 12:33] k3nsei commented on #202
You can always have to images and showing or hiding they using css classes.

[2019-07-21 12:37] SeinopSys commented on #202
The only problem I can see with that is I'm not certain the browser will load the image if it detects it's not visible yet, but if that's not the case then that's a good idea as well. However, I still believe it would be a good idea to make this behavior a boolean setting somewhere, most probably when adding it to the `imports` array in `app.module.ts`

[2019-09-04 04:21] shomid opened #208 "I want to no run inviewport in crawl search engine but run when real user view"
I want to no run inviewport in crawl search engine for improve seo,
but run when real user view because increase load speed site.

how to implement this action with ng-in-viewport?

[2019-09-04 05:29] k3nsei commented on #208
Duplicate, please look at issue #203

[2019-09-04 05:29] #208 closed

[2019-09-05 16:18] #202 closed

[2019-09-17 19:03] k3nsei commented on #37
[code]

https://github.com/k3nsei/ng-in-viewport/blob/master/projects/ng-in-viewport/src/lib/in-viewport-config.ts

[2019-10-15 08:14] evy-yang01 commented on #167
@SimranChawla1995
i have same issue with you

[2019-10-15 08:22] evy-yang01 opened #210 "Can't bind to 'inViewportOptions' since it isn't a known property of 'div' and can not trigger inViewportAction"
i use version of 6.0.3.
i already import the module into my module, and use the directive in my html,
`              <div #RecentServiceCalls [inViewportOptions]="{ partial: true, threshold: [0, 1] }" in-viewport (inViewportAction)="showTab('aRecentServiceCalls')">
                <customer-recent-service-call id="RecentServiceCalls"></customer-recent-service-call>
              </div>`

but first

[2019-10-15 13:31] k3nsei commented on #210
You have `in-viewport` maybe you can try `inViewport`

[2019-10-16 02:29] evy-yang01 commented on #210
it helps , thanks very much.

[2019-10-16 02:29] #210 closed

[2019-10-24 18:29] #190 closed

[2019-11-02 13:47] HDaghash opened #211 "onIntersection fired on safari on initialisation"
first of all thanks for you effort guys to support that API in angular way

I'm having an issue with inViewport when I'm using it with SVG using

it's fire the event on safari even the browser in the background (minimized )

it's working perfectly with all the browsers I tested on except safari 12.0.3

live demo for the issue : updted (removing the demo)

please notice the time in the console

[2019-11-02 13:49] k3nsei commented on #211
Safari is new internet explorer :(

sob., 2 lis 2019, 14:47 użytkownik Hasan Daghash <notifications@github.com>
napisał:

[2019-11-02 13:54] HDaghash commented on #211
thanks for the fast response that's true even at some points IE 11 act much better

[2019-11-05 17:11] #211 closed

[2019-12-19 13:34] #200 closed

[2020-01-03 18:12] k3nsei commented on #188
No response closing

[2020-01-03 18:12] #188 closed

[2020-01-07 21:42] greenkeeper[bot] opened #215 "An in-range update of tsickle is breaking the build 🚨"
## The devDependency [tsickle](https://github.com/angular/tsickle) was updated from `0.37.1` to `0.38.0`.

🚨 [View failing branch](https://github.com/k3nsei/ng-in-viewport/compare/develop...k3nsei:greenkeeper%2Ftsickle-0.38.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tsickle is a devDependency of this project. It *

[2020-01-16 21:00] #215 closed

[2020-01-29 08:54] MikeMilian commented on #167
I got the same problem, is there a fix?

[2020-01-29 09:34] MikeMilian opened #230 "Can't bind to 'inViewportOptions' since it isn't a known property of 'video'."
Hi, I am using it in a ionic 4 - angular 8 project. And get the error: "Can't bind to 'inViewportOptions' since it isn't a known property of 'video'."

Did I do something wrong?

[2020-01-29 20:43] k3nsei commented on #230
Here is working example: https://ng-in-viewport-issues-230.stackblitz.io/home

[2020-01-29 20:45] k3nsei commented on #230
If you have lazy loaded module by angular router you need import InViewportModule in that module.

[2020-01-29 20:46] k3nsei commented on #167
You need import InViewportModule in your module.

[2020-01-29 20:47] k3nsei commented on #167
Here is working example https://ng-in-viewport-issues-230.stackblitz.io/home

[2020-01-29 20:59] MikeMilian commented on #230
Ah, thats why! It works, thank you for your help!

[2020-01-29 20:59] #230 closed

[2020-03-05 11:22] suhelkhan1 opened #243 "The "path" argument must be of type string"
**Description**
I upgraded the Angular to 9  and making the build from server side using @nguniversal/express-engine while **Ivy** is disabled.
After that following error is coming. Client side build by `ng build --prod` working fine.

`ERROR in Error when flattening the source-map "/Users/admin/Desktop/work/angular-app/node_modules/ng-in-viewport/bundles/ng-in-viewport.umd.js.map" for "/Users/adm

[2020-03-23 21:27] k3nsei commented on #243
@suhelkhan1 this have nothing to do with our library. Please create an issue on @angular/cli

[2020-04-07 18:30] k3nsei commented on #243
No response within 14 days. Closing.

[2020-04-07 18:30] #243 closed

[2020-04-09 22:10] AndesCode opened #259 "Angular 9 not compatible with Angular Ivy"
Hi everyone

Is this library compatible with angular 9? it seems to be very useful and I really hope to implement to my Angular 9 project.

Im getting this error compiling: "This likely means that the library (ng-in-viewport) which declares InViewportModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and upd

[2020-04-09 22:27] k3nsei commented on #259
It's compatible https://github.com/angular/ngcc-validation

[2020-04-09 22:32] k3nsei commented on #259
Try remove node_modules and run npm install or yarn install

[2020-04-10 17:40] AndesCode commented on #259
It seems to be going well after that, thanks.

[2020-04-10 18:35] #259 closed

[2020-04-12 23:01] k3nsei commented on #147
Code is ready need to release it

[2020-04-13 12:26] k3nsei commented on #147
Feature is present in release v6.1.0

[2020-04-13 12:26] #147 closed

[2020-06-05 14:04] k3nsei commented on #21
@all-contributors please add @numerized for bug

[2020-06-05 14:04] k3nsei commented on #30
@all-contributors please add @CSchulz  for bug

[2020-06-05 14:05] k3nsei commented on #39
@all-contributors please add @jwillebrands for bug

[2020-06-05 14:05] k3nsei commented on #42
@all-contributors please add @anwar-elmawardy for bug
@all-contributors please add @OzoTek for bug

[2020-06-05 14:06] k3nsei commented on #42
@all-contributors please add @anwar-elmawardy for bug

[2020-06-05 14:06] k3nsei commented on #42
@all-contributors please add @OzoTek  for bug

[2020-06-05 14:06] k3nsei commented on #101
@all-contributors please add @jwillebrands for bug

[2020-06-16 22:28] skotturi opened #305 "Source code for infinite scroll"
Do you have the source code for: https://ng-in-viewport-example.stackblitz.io/infinite-scroll

I'm making an infinite scroll but my config isn't working as well as yours is. I can't see your usage of this directive in the inspector.
[code]

thanks in advance,
sante

[2020-06-17 15:28] k3nsei commented on #305
Code is available here: https://stackblitz.com/edit/ng-in-viewport-example?embed=1&file=src/app/page-infinite-scroll/page-infinite-scroll.component.ts

[2020-06-17 21:55] skotturi commented on #305
Seeing this as a config option helped me:
[code]

Maybe the docs and examples could show a few more of these examples and when you'd want to use them. The difference between passing threshold a number vs array is still unclear to me. Also, when to set `partial` or not is unclear. I've read the mozilla web docs but wasn't sure how/if this lib implemented the spec.

Thanks again for this lib, it's p

[2020-06-18 16:20] k3nsei commented on #305
This is simple wrapper on IntersectionObserver.
All information is awailable here https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

[2020-06-18 16:20] #305 closed

[2020-06-30 10:12] pasevin opened #316 "Issue with Angular SSR and btoa"
[code]

[2020-06-30 11:44] k3nsei commented on #316
@all-contributors please add pasevin for bug

[2020-07-02 18:18] #316 closed

[2020-08-08 17:01] wkurniawan07 opened #333 "Library is blocked under unsafe-eval CSP"
Due to the following lines:
https://github.com/k3nsei/ng-in-viewport/blob/583a07cb50858f3632653dc986fe47e49c553059/projects/ng-in-viewport/src/lib/in-viewport-config.ts#L35-L45

Any server that specifies `script-src: 'unsafe-eval'` in their CSP will not allow this library to run.

Is there any reason for using `new Function` instead of a more usual JS way? e.g.
[code]

[2020-08-08 21:31] k3nsei commented on #333
@wkurniawan07 it's because angular cli bundles Buffer source code to library bundle which is unintended. Using Function constructor is just workaround.  https://github.com/webpack/webpack/issues/4240

[2020-08-08 22:57] k3nsei commented on #333
@all-contributors please add @wkurniawan07 for bug

[2020-08-08 23:16] k3nsei commented on #333
@wkurniawan07 should be fixed in 6.1.3 please verify

[2020-08-09 05:58] wkurniawan07 commented on #333
Confirmed that the problem is fixed. Thanks for the quick turnaround!

[2020-08-09 05:58] #333 closed, assigned to nobody

[2020-09-02 08:35] #44 closed

[2020-09-04 16:08] k3nsei opened #344 "Update angular monorepo to version 10.1.0"
Right now project is based on Angular 6.0.5 basically for compatibility reasons.
It still compatible with current Angular versions.
But library reached its stability and maturity.
So we can upgrade to never version and move to the future.

[2020-09-18 18:16] julkue commented on #344
I hope I'm not missing something but as it seems there's no documentation of `inViewportOptions`. Would be great to add it in this regard too  (e.g. what is `partial`?).

[2020-09-18 18:51] k3nsei commented on #344
`partial` is legacy configuration option. From times when this library wasn't based on IntersectionObserver. It's used to specify how `visible` property is set. When partial is set to `false` whole element must be visible.

But I agree with you @julmot that better documentation is needed. But I also have plans to do whole rewrite this library to be more generic with plugins system implemented. To

[2020-09-18 19:05] k3nsei opened #352 "Add tsdoc comments"
Current auto generated documentation have no much value. To improve that tsdoc comments needs to be added.

[2020-09-18 19:05] k3nsei commented on #344
I created issue for that #352

[2020-09-28 11:05] #344 closed, assigned to nobody

[2020-09-28 11:07] k3nsei commented on #344
@all-contributors please add @basters for code

[2020-09-28 11:15] k3nsei opened #358 "Downlevel generated .d.ts files to support angular versions >= v5"
Files generated by TypeScript compiler v4 cannot be consumed by older versions of TypeScript. To support older versions of angular we need to downlevel .d.ts files. Ideally support for TS 2.9.0

[2020-09-28 17:19] basters commented on #358
Not sure if its possible... I may suggest to specify somewhere in Readme which version of package supports which angular.

Something like:

| ng-in-viewport | Angular     |
| ---------- | ----------- |
| 5.x.x      | 5.x         |
| 6.3     | 10+         |

[2020-09-28 17:56] k3nsei commented on #358
There is this package https://github.com/sandersn/downlevel-dts that will help covering Angular v7+
But for supporting Angular v5 and v6 I must sadly agree that separate branch needs to be created.

So there is branch 6.1.x for Angular v5 and v6. For other we can try to downlever typings.

[2020-09-30 18:46] samizarraa opened #360 "Property 'options' is private"
Hi, I have this issue:
Property 'options' is private and only accessible within class 'InViewportDirective'.
[inViewportOptions]="{ threshold: [0] }"

"ng-in-viewport": "^6.1.3"
Angular 10: Strict Mode

[2020-10-03 18:34] k3nsei opened #362 "Upgrade angular from 10.1.3 to 10.1.4"
There is newer version of angular. Upgrade is needed.

[2020-10-03 19:21] #362 closed, assigned to nobody

[2020-10-03 19:32] #360 closed, assigned to k3nsei

[2020-10-03 19:34] k3nsei commented on #360
Fixed and will be released in near future

[2020-10-03 20:53] k3nsei commented on #360
@all-contributors please add @samizarraa for bug

[2020-10-04 04:46] samizarraa commented on #360
Thanks

[2021-03-17 16:16] MashRoofa opened #604 "Threshold not working as expected or i miss-understood the conf."
First of all thank you for this plugin. If you could also provide a more thorough documentation at least for the options of the directive it would be great.

What I'm trying to achieve is that i want a div to be "active" i.e. receive an active class when it is 70% inside the viewport. This worked when providing a threshold of 0.7 or [0.7,1]. Now i would also like the div to receive an "inactive" c

[2021-03-17 16:45] MashRoofa commented on #604
Answer: [Link](https://github.com/k3nsei/ng-in-viewport/issues/141#issuecomment-458298908)

NOTE: I modified the example to have a threshold of 75% i.e. threshold:0.75

[2021-03-17 16:45] #604 closed, assigned to nobody

[2021-04-15 22:04] k3nsei opened #666 "Fix `jest` setup"
Right now jest setup isn't working properly. This needs to be fixed.

[2021-05-30 15:14] radiumrasheed opened #764 "Trigger event after it's 100% in the viewport for time `t`"
how about if I need it to trigger after being in the viewport for a particular time.

the use case is to mark a message as read after 10 seconds

@k3nsei any help

[2021-05-30 15:51] k3nsei commented on #764
Just run some timer when your message would be visible, then when it stops being visible clear that timer.
If you want to track many messages then use some Map with message ids as a keys to track timers.

[2021-05-30 18:43] radiumrasheed commented on #764
thanks @k3nsei , that's helpful

[2021-05-30 20:55] #764 closed, assigned to nobody

[2021-06-24 15:31] mreouven opened #801 "core.js:6456 ERROR Error: inject() must be called from an injection context"
In Angular@12
[code]

[2021-07-20 12:01] harun911 opened #842 "Preventing initial onIntersection method call"
Hello k3nsei,

first of all, thank you for this beautiful library to make it easy to use of the intersection observer api.

I want to use this library to render angular animations when an element becomes visible in the viewport, and run the animation only once after the user has seen it. However I'm experiencing an issue which I hope you can clarify or help me with.

The issue arises on initial lo

[2021-07-20 13:26] k3nsei commented on #842
@harun911 Hi this is weird behavior on demo code it's always false when it's not visible. For example this could be fault of CSS recalculation or wrong options like threshold. But overall its hard to guess it without seeing a code.

You can always use [IntersectionObserverEntry](https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserverEntry) directly from `InViewportMetadata` to decide

[2021-07-20 13:28] #842 closed, assigned to nobody

[2021-07-20 13:32] k3nsei commented on #801
@mreouven it must be something wrong with your setup. As you can see here it works with Angular v12 https://github.com/k3nsei/ng-in-viewport/actions/runs/839955925

[2021-07-20 13:32] #801 closed, assigned to nobody

[2021-07-22 22:43] nickmaglowsch commented on #42
Hello, was just trying out the lib on angular 5.2.10 and had the same issue using intersection-observer 0.12.0 and ng-in-viewport 6.1.5. should i use a specific version to be compatible with angular 5 or something? thanks in advance

[2022-02-01 09:58] spock123 opened #1035 "Please provide IVY version"
thank you

[2022-02-03 12:59] k3nsei commented on #1035
Will do that this weekend.

[2022-02-03 14:15] spock123 commented on #1035
Thank you so much

[2022-02-04 16:24] tiboprea commented on #1035
@k3nsei This would really help! Thank you for your support.

[2022-02-07 01:25] k3nsei commented on #1035
Published as [13.0.0](https://github.com/k3nsei/ng-in-viewport/releases/tag/v13.0.0)

[2022-02-07 01:25] #1035 closed, assigned to nobody

[2022-02-25 12:56] Jonnyprof opened #1055 "Error when several instances with different root configurations"
It happens to me in version 6.1.5, but I guess it happens too in the lastest version, because isPlatformBrowser function (the main problem) has the same code. I'll try to explain it as best as possible.

When you register several instances, they can  reuse IntersectionObserver with findEntry function.
https://github.com/k3nsei/ng-in-viewport/blob/97a772d7c08e8883ed8b1d0434b16cebc066212e/projects/n

[2022-02-25 13:07] k3nsei commented on #1055
@Jonnyprof could you tell more about your environment? Because I don't see a way how `isPlatformBrowser` would return `false` in any browser? `this` in function which isn't an instance and isn't bound function should always return `Window` instance.

And can you prepare some example on stackblitz by forking this project https://stackblitz.com/edit/ng-in-viewport-example?embed=1&file=src/main.ts

[2022-03-11 11:41] Jonnyprof commented on #1055
Sorry, I didn't notice your reply.
I don't understand your question, sorry for my english. It happens with angular dev-server (ng serve) or in a web server with production build.
I've created  a fork of your stackblitz where you can see (debugging or adding a logPoint) that your `function isPlatformBrowser` is false. You can see it here https://stackblitz.com/edit/ng-in-viewport-example-6cpco8.
I'

[2022-03-11 14:34] k3nsei commented on #1055
I will switch to btoa as now node.js lts have that function in its global scope.

[2022-06-29 21:40] tomups commented on #333
@k3nsei This is back in 6.1.5 as well as 13.0.0 and 13.0.1. Any reason for the regression?

I see the develop version does not have this problem though, but this forces me to stay with 6.1.4 for now as it's the only working one that is published to NPM.